{% extends "blog/layout.html" %}
{% load static %}

{% block content %}
    <h1>Home page!</h1>
    {% for post in posts %}
        <article class="flex">
            {% if post.author.profile.image %}
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            {% else %}
                <img class="rounded-circle article-img" src="{% static 'blog/default.jpg' %}">
            {% endif %}
            <div>
                <div>
                    <a href="#">{{ post.author }}</a>
                    <small>{{ post.date_posted }}</small>
                </div>
                <h2><a href="#">{{ post.title }}</a></h2>
                <p>{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}