{% extends "blog/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>login page!</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="m-top">
                <button type="submit">Login</button>
            </div>
            <small class="m-top">
                <a href="{% url 'password_reset' %}">Forgot your password?</a>
            </small>
        </form>
        <div>
            <small>
                <a href="{% url 'register' %}">Don't have an account?</a>
            </small>
        </div>
    </div>
{% endblock content %}